/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* common */
body{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
/* wrapper */
.wrapper{
    width: 100%;
    height: 100vh;
    /* test */
    background-color: aqua;
}
/* main */
main{
    width: 100%;
    height: calc(100% - 80px);
}
/* main content */
.main-content{
    width: calc(100% - 250px);
    height: 100%;
    float: left;
    overflow-y: auto;
    padding-top: 90px;
    /* test */
    background-color: darkslategray;
}
/* finto header */
.fake-header{
    
    height: 80px;
    width: calc(100% - 250px);
    position: fixed;
    top: 0;
    right: 0;
    /* test */
    background-color: rgba(0,0, 0, 0.4);
}
/* bottone finto header */
.position{
    margin-right: 50px;
    text-align: right;
    line-height: 80px;
}
.btn{ 
    border: 1px solid white;
    padding: 5px 20px;
    border-radius: 30px;
}
/* top menu */
.top-nav{
    text-align: center;
}
.top-nav li{
    display: inline;
    padding: 10px;
    
}
.row-flex{
    display: flex;
    /* test */
    height: 300px;
    width: 100%;
    background-color: chocolate;

}
.song-all{
    /* test */
    height: 250px;
    width: calc(100% / 6);
    background-color: cornflowerblue;
    padding: 10px;
    margin: 2px;
}
.song-image{
    /* test */
    height: 100px;
    width: 100%;
    background-color: violet;
}
/* song image ruond */
.song-image-round{
    text-align: center;
    border-radius: 50%;
    /* test */
    height: 100px;
    width: 100px;
    background-color: violet;
}

/* aside menu */
.nav-aside{
    float: left;
    height: 100%;
    width: 250px;
    padding:0 7px ;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    /* test */
    background-color: mediumblue;
    
}
/* inside nav elements */
.logo{
    height: 80px;
    width: auto;
}
/* primary element */
.main-action{
    
    /* test */
    background-color: bisque;
    
}
/* create new playlist */
.new-playlist{
    
    /* test */
    background-color: blueviolet;
}
.new-playlist-list{
    
    overflow-y: auto;
    height: 100%;
    /* test */
    background-color: brown;
    
    
}
/* personal info section */
.personal-info{
    /* test */
    background-color: chartreuse;
}
.install{
    border-bottom:1px solid black ;
}
/* footer */
footer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: lightslategray;
    overflow: hidden;
}
/* footer-left */
.footer-left{
    display: flex;
    align-items: center;
}
/* footer-img */
.footer-img{
    /* test */
    height: 40px;
    width: 40px;
    background-color: darkgoldenrod;
}
/* media player */
.media-player{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* media-player-button */
.media-player-button li{
    display: inline;
}
/* under the media buttom element */
.song-section{
    padding: 4px;
    display: flex;
}
/* song bar */
.song-bar{
    width: 100%;
    height: 10px;
    background-color: gold;
}
.song-bar-active{
    width: 30%;
    height: 10px;
    background-color: goldenrod;
}
/* footer right */
.footer-right{
    display: flex;
    align-items: center;
    
}
.volume-bar{
    width: 100px;
    height: 10px;
    background-color: gold;
}
.volume-bar-active{
    width: 30%;
    height: 10px;
    background-color: goldenrod;
}